@import "ui-variables";

.welcome {
  color: @text-color;
  background-color: @base-background-color;

  &-header {
    margin: 10em 1em;
  }

  &-logo {
    display: block;
    width: 290px;
    margin: 2em auto;
  }

  &-title {
    text-align: center;
  }
}
